# Analysis of COVID-19/nCoV2019 on Economic Metrics

Importing necessary libraries and the datasets to be used

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# importing the dataset
covid_df = pd.read_csv('owid-covid-data.csv')
wdi_df = pd.read_csv('WDI.csv')

Exploring the data

In [ ]:
covid_df.info() # Basic info
covid_df.describe() # Statistical Summary of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 219.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403256 entries, 0 to 403255
Data columns (total 69 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    403256 non-null  object
 1   Country Code    403256 non-null  object
 2   Indicator Name  403256 non-null  object
 3   Indicator Code  403256 non-null  object
 4   1960            37417 non-null   float64
 5   1961            42757 non-null   float64
 6   1962            44040 non-null   float64
 7   1963            44974 non-null   float64
 8   1964            45471 non-null   float64
 9   1965            47312 non-null   float64
 10  1966            47572 non-null   float64
 11  1967            48217 non-null   float64
 12  1968            48829 non-null   float64
 13  1969            49612 non-null   float64
 14  1970            72657 non-null   float64
 15  1971            76790 non-null   float64
 16  1972            78517 non-null   float64
 17  1973            79145 non-null   float64
 18  1974            80576 non-null   float64
 19  1975            84080 non-null   float64
 20  1976            86358 non-null   float64
 21  1977            88879 non-null   float64
 22  1978            89603 non-null   float64
 23  1979            90572 non-null   float64
 24  1980            94826 non-null   float64
 25  1981            96548 non-null   float64
 26  1982            96816 non-null   float64
 27  1983            97763 non-null   float64
 28  1984            98431 non-null   float64
 29  1985            100483 non-null  float64
 30  1986            101436 non-null  float64
 31  1987            101873 non-null  float64
 32  1988            101318 non-null  float64
 33  1989            102871 non-null  float64
 34  1990            129017 non-null  float64
 35  1991            136943 non-null  float64
 36  1992            140028 non-null  float64
 37  1993            142550 non-null  float64
 38  1994            144829 non-null  float64
 39  1995            151802 non-null  float64
 40  1996            159383 non-null  float64
 41  1997            152972 non-null  float64
 42  1998            162418 non-null  float64
 43  1999            161502 non-null  float64
 44  2000            198429 non-null  float64
 45  2001            186284 non-null  float64
 46  2002            196036 non-null  float64
 47  2003            196708 non-null  float64
 48  2004            200164 non-null  float64
 49  2005            210048 non-null  float64
 50  2006            211543 non-null  float64
 51  2007            214330 non-null  float64
 52  2008            214182 non-null  float64
 53  2009            217160 non-null  float64
 54  2010            226881 non-null  float64
 55  2011            223553 non-null  float64
 56  2012            225106 non-null  float64
 57  2013            223853 non-null  float64
 58  2014            229068 non-null  float64
 59  2015            231653 non-null  float64
 60  2016            229141 non-null  float64
 61  2017            228135 non-null  float64
 62  2018            227209 non-null  float64
 63  2019            222705 non-null  float64
 64  2020            218178 non-null  float64
 65  2021            213350 non-null  float64
 66  2022            198114 non-null  float64
 67  2023            170474 non-null  float64
 68  2024            91696 non-null   float64
dtypes: float64(65), object(4)
memory usage: 212.3+ MB

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,3.741700e+04,4.275700e+04,4.404000e+04,4.497400e+04,4.547100e+04,4.731200e+04,4.757200e+04,4.821700e+04,4.882900e+04,4.961200e+04,...,2.316530e+05,2.291410e+05,2.281350e+05,2.272090e+05,2.227050e+05,2.181780e+05,2.133500e+05,1.981140e+05,1.704740e+05,9.169600e+04
mean,4.450943e+11,4.163134e+11,4.281904e+11,4.381389e+11,4.671439e+11,5.134120e+11,5.531753e+11,6.023921e+11,6.779167e+11,7.464926e+11,...,3.127905e+12,3.469775e+12,3.683733e+12,4.123866e+12,2.879171e+13,3.784491e+14,2.027190e+15,1.555659e+16,6.395361e+16,3.059159e+13
std,1.945339e+13,1.968709e+13,2.070434e+13,2.175268e+13,2.326668e+13,2.638414e+13,2.899102e+13,3.203375e+13,3.633862e+13,4.107226e+13,...,1.390092e+14,1.553441e+14,1.666416e+14,1.902057e+14,1.142362e+16,1.742687e+17,9.331060e+17,6.919793e+18,2.639960e+19,1.851430e+15
min,-2.594800e+14,-3.243190e+14,-3.675280e+14,-4.061760e+14,-4.462460e+14,-5.422810e+14,-6.431340e+14,-7.339950e+14,-8.208010e+14,-1.029100e+15,...,-3.823400e+14,-3.970130e+14,-4.306060e+14,-6.109890e+14,-1.155330e+15,-2.023640e+15,-8.595720e+14,-9.091420e+14,-5.403950e+15,-7.764530e+15
25%,4.482271e+00,4.544504e+00,4.606569e+00,4.691885e+00,4.766341e+00,4.536776e+00,4.788581e+00,4.776287e+00,4.937060e+00,4.984750e+00,...,5.034000e+00,4.917408e+00,5.103421e+00,4.688491e+00,5.093564e+00,4.635993e+00,5.530542e+00,5.487000e+00,5.410945e+00,6.779813e+00
50%,3.678426e+01,3.790448e+01,3.679088e+01,3.646122e+01,3.736165e+01,3.733812e+01,4.004050e+01,4.084800e+01,4.176322e+01,4.256918e+01,...,3.674136e+01,3.629220e+01,3.810000e+01,3.530000e+01,3.753439e+01,3.654659e+01,3.891308e+01,4.027964e+01,4.164300e+01,4.956954e+01
75%,1.000000e+05,8.456900e+04,7.712827e+04,7.647400e+04,8.909389e+04,1.261390e+05,1.629168e+05,2.173000e+05,2.500000e+05,2.900000e+05,...,4.766479e+03,4.175000e+03,4.983000e+03,4.862000e+03,7.033521e+03,8.396295e+03,8.876750e+03,1.008970e+04,4.991266e+04,8.324692e+05
max,1.629370e+15,1.798670e+15,1.940930e+15,2.077620e+15,2.253700e+15,2.637630e+15,2.941020e+15,3.271970e+15,3.743270e+15,4.324100e+15,...,1.324160e+16,1.442550e+16,1.675690e+16,2.173980e+16,5.390000e+18,8.140000e+19,4.310000e+20,3.080000e+21,1.090000e+22,2.050000e+17

In [5]:
wdi_df.info() 
wdi_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403256 entries, 0 to 403255
Data columns (total 69 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    403256 non-null  object
 1   Country Code    403256 non-null  object
 2   Indicator Name  403256 non-null  object
 3   Indicator Code  403256 non-null  object
 4   1960            37417 non-null   float64
 5   1961            42757 non-null   float64
 6   1962            44040 non-null   float64
 7   1963            44974 non-null   float64
 8   1964            45471 non-null   float64
 9   1965            47312 non-null   float64
 10  1966            47572 non-null   float64
 11  1967            48217 non-null   float64
 12  1968            48829 non-null   float64
 13  1969            49612 non-null   float64
 14  1970            72657 non-null   float64
 15  1971            76790 non-null   float64
 16  1972            78517 non-null   float64
 17  1973            79145 non-null   float64
 18  1974            80576 non-null   float64
 19  1975            84080 non-null   float64
 20  1976            86358 non-null   float64
 21  1977            88879 non-null   float64
 22  1978            89603 non-null   float64
 23  1979            90572 non-null   float64
 24  1980            94826 non-null   float64
 25  1981            96548 non-null   float64
 26  1982            96816 non-null   float64
 27  1983            97763 non-null   float64
 28  1984            98431 non-null   float64
 29  1985            100483 non-null  float64
 30  1986            101436 non-null  float64
 31  1987            101873 non-null  float64
 32  1988            101318 non-null  float64
 33  1989            102871 non-null  float64
 34  1990            129017 non-null  float64
 35  1991            136943 non-null  float64
 36  1992            140028 non-null  float64
 37  1993            142550 non-null  float64
 38  1994            144829 non-null  float64
 39  1995            151802 non-null  float64
 40  1996            159383 non-null  float64
 41  1997            152972 non-null  float64
 42  1998            162418 non-null  float64
 43  1999            161502 non-null  float64
 44  2000            198429 non-null  float64
 45  2001            186284 non-null  float64
 46  2002            196036 non-null  float64
 47  2003            196708 non-null  float64
 48  2004            200164 non-null  float64
 49  2005            210048 non-null  float64
 50  2006            211543 non-null  float64
 51  2007            214330 non-null  float64
 52  2008            214182 non-null  float64
 53  2009            217160 non-null  float64
 54  2010            226881 non-null  float64
 55  2011            223553 non-null  float64
 56  2012            225106 non-null  float64
 57  2013            223853 non-null  float64
 58  2014            229068 non-null  float64
 59  2015            231653 non-null  float64
 60  2016            229141 non-null  float64
 61  2017            228135 non-null  float64
 62  2018            227209 non-null  float64
 63  2019            222705 non-null  float64
 64  2020            218178 non-null  float64
 65  2021            213350 non-null  float64
 66  2022            198114 non-null  float64
 67  2023            170474 non-null  float64
 68  2024            91696 non-null   float64
dtypes: float64(65), object(4)
memory usage: 212.3+ MB

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,3.741700e+04,4.275700e+04,4.404000e+04,4.497400e+04,4.547100e+04,4.731200e+04,4.757200e+04,4.821700e+04,4.882900e+04,4.961200e+04,...,2.316530e+05,2.291410e+05,2.281350e+05,2.272090e+05,2.227050e+05,2.181780e+05,2.133500e+05,1.981140e+05,1.704740e+05,9.169600e+04
mean,4.450943e+11,4.163134e+11,4.281904e+11,4.381389e+11,4.671439e+11,5.134120e+11,5.531753e+11,6.023921e+11,6.779167e+11,7.464926e+11,...,3.127905e+12,3.469775e+12,3.683733e+12,4.123866e+12,2.879171e+13,3.784491e+14,2.027190e+15,1.555659e+16,6.395361e+16,3.059159e+13
std,1.945339e+13,1.968709e+13,2.070434e+13,2.175268e+13,2.326668e+13,2.638414e+13,2.899102e+13,3.203375e+13,3.633862e+13,4.107226e+13,...,1.390092e+14,1.553441e+14,1.666416e+14,1.902057e+14,1.142362e+16,1.742687e+17,9.331060e+17,6.919793e+18,2.639960e+19,1.851430e+15
min,-2.594800e+14,-3.243190e+14,-3.675280e+14,-4.061760e+14,-4.462460e+14,-5.422810e+14,-6.431340e+14,-7.339950e+14,-8.208010e+14,-1.029100e+15,...,-3.823400e+14,-3.970130e+14,-4.306060e+14,-6.109890e+14,-1.155330e+15,-2.023640e+15,-8.595720e+14,-9.091420e+14,-5.403950e+15,-7.764530e+15
25%,4.482271e+00,4.544504e+00,4.606569e+00,4.691885e+00,4.766341e+00,4.536776e+00,4.788581e+00,4.776287e+00,4.937060e+00,4.984750e+00,...,5.034000e+00,4.917408e+00,5.103421e+00,4.688491e+00,5.093564e+00,4.635993e+00,5.530542e+00,5.487000e+00,5.410945e+00,6.779813e+00
50%,3.678426e+01,3.790448e+01,3.679088e+01,3.646122e+01,3.736165e+01,3.733812e+01,4.004050e+01,4.084800e+01,4.176322e+01,4.256918e+01,...,3.674136e+01,3.629220e+01,3.810000e+01,3.530000e+01,3.753439e+01,3.654659e+01,3.891308e+01,4.027964e+01,4.164300e+01,4.956954e+01
75%,1.000000e+05,8.456900e+04,7.712827e+04,7.647400e+04,8.909389e+04,1.261390e+05,1.629168e+05,2.173000e+05,2.500000e+05,2.900000e+05,...,4.766479e+03,4.175000e+03,4.983000e+03,4.862000e+03,7.033521e+03,8.396295e+03,8.876750e+03,1.008970e+04,4.991266e+04,8.324692e+05
max,1.629370e+15,1.798670e+15,1.940930e+15,2.077620e+15,2.253700e+15,2.637630e+15,2.941020e+15,3.271970e+15,3.743270e+15,4.324100e+15,...,1.324160e+16,1.442550e+16,1.675690e+16,2.173980e+16,5.390000e+18,8.140000e+19,4.310000e+20,3.080000e+21,1.090000e+22,2.050000e+17

Data Pre-processing (COVID data)

In [ ]:
covid_cols = [
    'iso_code', 'continent', 'location', 'date',
    'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
    'people_vaccinated', 'people_fully_vaccinated', 'population',
    'gdp_per_capita', 'human_development_index', 'stringency_index'
]
covid_df = covid_df[covid_cols].copy()
covid_df['date'] = pd.to_datetime(covid_df['date'], errors = 'coerce') # Convert date to date-time format
covid_df = covid_df.dropna(subset=['iso_code', 'date', 'location']) # Remove empty rows and rows without iso code
covid_df = covid_df.replace(r'^\s*$', np.nan, regex=True) # Replace empty strings/blank cells with NaN

# handle the missing numeric values
numeric_cols = [
    'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
    'people_vaccinated', 'people_fully_vaccinated', 'population',
    'gdp_per_capita', 'human_development_index', 'stringency_index'
] 

# Replace missing values with 0 for case/deaths column
covid_df[['total_cases', 'new_cases', 'total_deaths', 'new_deaths']] = (
    covid_df[['total_cases', 'new_cases', 'total_deaths', 'new_deaths']].fillna(0)
)

# Replace missing values with group-wise mean(by country)
covid_df[numeric_cols] = covid_df.groupby('location')[numeric_cols].transform(lambda x: x.fillna(x.mean()))

Data Pre-processing (WDI data)

In [ ]:
# import pandas as pd
# import matplotlib 
# import numpy as np
# import seaborn as sns

# Importing our dataset (& converting to DataFrame)
# df = pd.DataFrame(pd.read_csv('covid-dataset.csv'))
# print(data)

# Handling missing values
# df_clean = df.dropna()

# Checking the head and tail rows, columns
# head = df.head(5)
# tail = df.tail(5)
# print(f'\n {head} {tail} \n')

   iso_code     location        date  total_cases  total_deaths  \
0      AFG  Afghanistan  2019-12-31          0.0           0.0
1      AFG  Afghanistan  2020-01-01          0.0           0.0
2      AFG  Afghanistan  2020-01-02          0.0           0.0
3      AFG  Afghanistan  2020-01-03          0.0           0.0
4      AFG  Afghanistan  2020-01-04          0.0           0.0

   stringency_index  population  gdp_per_capita  human_development_index  \
0               0.0    38928341        1803.987                    0.498
1               0.0    38928341        1803.987                    0.498
2               0.0    38928341        1803.987                    0.498
3               0.0    38928341        1803.987                    0.498
4               0.0    38928341        1803.987                    0.498

  Unnamed: 9 Unnamed: 10 Unnamed: 11  Unnamed: 12  Unnamed: 13
0      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
1      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
2      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
3      #NUM!       #NUM!       #NUM!    17.477233  7.497754494
4      #NUM!       #NUM!       #NUM!    17.477233  7.497754494         iso_code  location        date  total_cases  total_deaths  \
50413      ZWE  Zimbabwe  2020-10-15       8055.0         231.0
50414      ZWE  Zimbabwe  2020-10-16       8075.0         231.0
50415      ZWE  Zimbabwe  2020-10-17       8099.0         231.0
50416      ZWE  Zimbabwe  2020-10-18       8110.0         231.0
50417      ZWE  Zimbabwe  2020-10-19       8147.0         231.0

       stringency_index  population  gdp_per_capita  human_development_index  \
50413             76.85    14862927        1899.775                    0.535
50414             76.85    14862927        1899.775                    0.535
50415             76.85    14862927        1899.775                    0.535
50416             76.85    14862927        1899.775                    0.535
50417             76.85    14862927        1899.775                    0.535

        Unnamed: 9  Unnamed: 10 Unnamed: 11  Unnamed: 12  Unnamed: 13
50413  8.994048296  5.442417711  4.34185547    16.514381  7.549490737
50414  8.996528148  5.442417711  4.34185547    16.514381  7.549490737
50415  8.999495876  5.442417711  4.34185547    16.514381  7.549490737
50416  9.000853147  5.442417711  4.34185547    16.514381  7.549490737
50417   9.00540504  5.442417711  4.34185547    16.514381  7.549490737